---
import Layout from '../layouts/Layout.astro';
import { supabase } from '../db/supabase';

const { data, error } = await supabase.from("todos").select('*');
---

<Layout>
  <h1>Welcome to the Lyric Vault</h1>
  <p style="margin-bottom: 2rem;">Explore the branches of the Hawk Eye Archive:</p>

  {/* Conditionally render the list only if data is not null */}
  {
    data && data.length > 0 ? (
      <ul>
        {data.map((entry) => (
          <li>{entry.name}</li>
        ))}
      </ul>
    ) : error ? (
        <p>Error fetching data: {error.message}</p>
      ) : (
        <p>No data available.</p>
      )
  }
  <ul style="list-style: none; padding: 0;">
    <li style="margin-bottom: 1rem;">
      <a href="/01_singles/" style="color: #0af; font-size: 1.25rem;">Singles</a>
    </li>
    <li style="margin-bottom: 1rem;">
      <a href="/02_mixtape_sessions/" style="color: #0af; font-size: 1.25rem;">The Mixtape Sessions</a>
    </li>
    <li style="margin-bottom: 1rem;">
      <a href="/03_phase2/" style="color: #0af; font-size: 1.25rem;">Phase II</a>
    </li>
    <li style="margin-bottom: 1rem;">
      <a href="/04_reckoning/" style="color: #0af; font-size: 1.25rem;">The Reckoning</a>
    </li>
  </ul>

  <footer style="margin-top: 4rem;">
    <p>© Hawk Eye. All rights reserved.</p>
  </footer>
</Layout>
